body {
    background-color: rgb(255, 116, 174);
    text-align: center;
    color: rgb(236, 247, 199);
    font-style: normal;
    text-transform: lowercase;
    
}
div{
    font-size: xx-large;
}
p{
    font-size:xx-large;
}